@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;500;700&display=swap");

:root {
  font-family: "Saira", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;

  background-image: url("./assets/space-bg.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  background-color: #000;
  color: var(--text-color);

  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
